.container {
   width: 1272px;
   margin: 50px auto;
}

* {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(24, 41, 41);
}

a {
   text-decoration: none;
   color: rgb(7, 122, 122);
}

p, li, time{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 16px;
   color: rgb(60, 71, 71);
}


hr {
   height: 5px;
   border: none;
   background-color: cornflowerblue;
}

.contact-info ul {
   padding-inline-start: 0;
}
.contact-info li {
   list-style: none;
}

.wrapper {
   display: flex;
   justify-content: space-between;
}

img {
   width: 20%;
}

footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
}

footer img{
   width: 48px;
}